:scss
  .browser-player {
    margin: 15px 0 0 20px;
    padding-top: 1rem;
    width: 90%;
    height: 30rem;
    background-color: #190e13;
    img {
      //position: absolute;
      top: 10px;
      left: 10px;
      width: 100%;
      max-height: 30rem;
  }
  }
  .format-player {
    margin: 0 0 0 20px;
    width: 90%;
    height: 5rem;
    background-color: #190e13;
  }

.browser-player.center-block
  .item
    = image_tag 'news_img.png', class: 'img-responsive center-block mx-auto'
  .item
    = image_tag 'advertaising.png', class: 'img-responsive center-block mx-auto'
  .item
    = image_tag 'Layer-27.png', class: 'img-responsive center-block mx-auto'
  .item
    = image_tag 'menu_intro_2.png', class: 'img-responsive center-block mx-auto'

%audio.format-player{ controls: '' }
  %source{ src: 'lp.mp3', type: 'audio/mp3' }
  %source{ src: 'lp.ogg', type: 'audio/ogg' }
  Ваш браузер не пожжерживает тег audio!

:javascript
  // $('.browser-player').slick();
    $(document).ready(function(){
      $('.browser-player').slick({
        arrows: false,
      });
    });
