:scss
  .browser-player {
    margin: 15px 0 0 20px;
    padding: 1rem;
    width: 100%;
    height: 35rem;
    background-color: #190e13;
    img {
      //top: 10px;
      //left: 10px;
      width: 100%;
      max-height: 30rem;
    }
  }
  .format-player {
    margin: 0 0 0 20px;
    width: 100%;
    height: 5rem;
    background-color: #190e13;
  }

.browser-player.center-block
  .item
    = image_tag 'news_img.png', class: 'img-responsive center-block'
  .item
    = image_tag 'advertaising.png', class: 'img-responsive center-block'
  .item
    = image_tag 'Layer-27.png', class: 'img-responsive center-block'
  .item
    = image_tag 'menu_intro_2.png', class: 'img-responsive center-block'

%audio.format-player{ controls: '' }
  %source{ src: 'lp.mp3', type: 'audio/mp3' }
  %source{ src: 'lp.ogg', type: 'audio/ogg' }
  Ваш браузер не пожжерживает тег audio!

:javascript
  // $('.browser-player').slick();
    $(document).ready(function(){
      $('.browser-player').slick({
        arrows: false,
        // infinite: true,
        // speed: 300
        autoplay: true,
        autoplaySpeed: 2000,
        speed: 1500
      });
    });
