:scss
  .calendar-block {
    .calendar-event {
      font-size: 1.4rem;
      margin-left: 1rem;
      color: #94000c;
    }
    .calendar-list {
      margin-left: 20px;
      margin-bottom: 20px;
      .img-margin {
        margin: 1rem;
        width: 22%;
      }
      .text-container{
        line-height: 2rem;
        padding-top: 0.5rem;
        .calendar-date {
          font-size: 1.2rem;
          color: #94000c;
        }
        .calendar-title {
          font-size: 1.4rem;
        }
        .calendar-main-text {
          font-size: 1.3rem;
        }
        .calendar-detail-text {
          font-style: italic;
          margin-right: 4rem;
          line-height: 0;
        }
      }
    }
  }

.calendar-block
  %p.text-left.calendar-event КАЛЕНДАРЬ СОБЫТИЙ
  - @events.each do |event|
    .row
      .calendar-list
        = image_tag event[:img], class: 'img-responsive img-margin pull-left clearfix'
        .text-container
          %span.calendar-date
            = event[:date]
          %p.text-left.calendar-title
            = event[:title]
          %p.calendar-main-text
            = event[:text]
          %p.text-right.calendar-detail-text
            =link_to 'детальнее', '#'