:scss
  .calendar-block {
    .calendar-event {
      font-size: 1.4rem;
      margin-left: 1rem;
      color: #94000c;
    }
    .calendar-list {
      .img-margin {
        margin: 1rem 1rem 1rem 1rem;
        width: 22%;
        height: 22%;
      }
      .text-container{
        line-height: 2rem;
        padding-top: 0.5rem;
        .calendar-date {
          font-size: 1.2rem;
          color: #94000c;
        }
        .calendar-title {
          font-size: 1.4rem;
        }
        .calendar-main-text {
          font-size: 1.3rem;
        }
        .calendar-detail-text {
          font-style: italic;
          margin-right: 4rem;
          line-height: 0;
        }
      }
    }
  }

.calendar-block
  %p.text-left.calendar-event КАЛЕНДАРЬ СОБЫТИЙ
  .calendar-list
    = image_tag 'news_img.png', class: 'img-responsive img-margin pull-left clearfix'
    .text-container
      %span.calendar-date 28.03.2017
      %p.text-left.calendar-title СЕМЕЙНАЯ ПСИХОАНАЛИТИЧЕСКАЯ ТЕРАПИЯ
      %p.calendar-main-text
        "В тот момент, когда человек начинает задумываться о смысле и ценности жизни, можно начинать считать его больным."
      %p.text-right.calendar-detail-text
        =link_to 'детальнее', '#'
