-#Header block
-#= render 'layouts/header_intro'

-#= render partial: 'layouts/header_img', locals: { main_img: 'header_main_image.png',
-#                                                  border_img: 'header_solid_line.png' }

%header

  = render partial: 'layouts/header_img', locals: { main_img: 'header_main_image.png',
                                                    border_img: 'header_solid_line.png' }

  = render partial: 'layouts/button', locals: { btn_text: 'Основная',
                                                url: root_path }

.quote-block
  .container-fluid
    .row
      .col-sm-3.col-md-2.col-md-offset-2
        = render partial: 'main/side_bar'
      .col-sm-6.col-md-4
        = render partial: 'main/quote'

