:scss
  body {
    background-color: #ebecec;
    .main-background-color {
      .menu-intro {
        div {
          text-align: center;
          img {
            margin-top: 4rem;
            width: 100%;
            height: 100%;
          }
          a {
            color: #c4314a;
          }
        }
      }
    }
  }

  @media (max-width: 1199px) {
    html {
      body {
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: 991px) {
    html {
      body {
        font-size: 0.9rem;
      }
    }
  }

  @media (max-width: 767px) {
    html {
      body {
        font-size: 1.2rem;
        .main-background-color {
          .menu-intro {
            div {
              .img-content-margin {
                margin-left: 15%;
              }
            }
          }
        }
      }
    }
  }

-#Header block
= render 'layouts/header_picture'

-#Cabinets block
= render 'cabinets'

-#Footer block
= render 'footer'
