:scss
  .main_background_color {
  //TODO: change calc(100vh - (footer+header))
    min-height: calc(100vh);
    background-color: #ebecec;
    .menu-intro {
      div {
        text-align: center;
        img {
          margin-top: 5rem;
          width: 100%;
          height: 100%;
        }
        a {
          font-size: 1.4rem;
          color: #c4314a;
        }
      }
    }
  }

  @media (max-width: 1199px) {
    .main_background_color {
      .menu-intro {
        div {
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    .main_background_color {
      .menu-intro {
        div {
          a {
            font-size: 0.9rem;
          }
        }
      }
    }
  }

.main_background_color
  .container.menu-intro
    .row
      .col-sm-2.col-xs-3.col-sm-offset-2
        =image_tag "menu_intro_1.png", class: "img-responsive"
        =link_to "ДЕТСКИЙ ПСИХОАНАЛИЗ", '#'
      .col-sm-2.col-xs-3
        =image_tag "menu_intro_2.png", class: "img-responsive"
        =link_to "СЕМЕЙНАЯ ПСИХОАНАЛИТИЧЕСКАЯ ТЕРАПИЯ", '#'
      .col-sm-2.col-xs-3
        =image_tag "menu_intro_3.png", class: "img-responsive"
        =link_to "ИНДИВИДУАЛЬНЫЙ ПСИХОАНАЛИЗ", '#'
      .col-sm-2.col-xs-3
        =image_tag "menu_intro_4.png", class: "img-responsive"
        =link_to "БИЗНЕС-ПСИХОЛОГИЧЕСКОЕ КОНСУЛЬТИРОВАНИЕ", '#'

= render 'footer'
