:scss
  body {
    .main-background-color {
      .menu-intro {
        div {
          text-align: center;
          img {
            margin-top: 4rem;
            width: 100%;
            height: 100%;
          }
          a {
            color: #c4314a;
          }
        }
      }
    }
  }

  @media (max-width: 1199px) {
    html {
      body {
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: 991px) {
    html {
      body {
        font-size: 0.9rem;
      }
    }
  }

  @media (max-width: 767px) {
    html {
      body {
        font-size: 1.2rem;
        .main-background-color {
          .menu-intro {
            div {
              .img-content-margin {
                margin-left: 15%;
              }
            }
          }
        }
      }
    }
  }

%header

  = render partial: 'layouts/header_img', locals: { main_img: 'header_intro_image.png',
                                                    border_img: 'header_solid_line.png' }

  = render partial: 'layouts/button', locals: { btn_text: 'Главная',
                                                url: main_page_path }

-#Cabinets block
= render partial: 'cabinets'

-#-#Footer block
-#= render 'layouts/footer'
