:scss
  .right-arrow {
    svg {
      width: 14px;
      height: 14px;
    }
  }

%span.next
  - if current_page.last?
    %span.right-arrow
      = File.read('app/assets/images/right_events_paginate_arrow.svg').html_safe

  - else
    = link_to url, rel: 'next', remote: true do
      %span.right-arrow
        = File.read('app/assets/images/right_events_paginate_arrow.svg').html_safe