:scss
  .left-arrow {
    svg {
      width: 14px;
      height: 14px;
    }
  }

%span.prev
  - if current_page.first?
    %span.left-arrow
      = File.read('app/assets/images/left_events_paginate_arrow.svg').html_safe

  - else
    = link_to url, rel: 'next', remote: true do
      %span.left-arrow
        = File.read('app/assets/images/left_events_paginate_arrow.svg').html_safe
