=image_tag main_img, class: 'img-responsive header-image'

- if request.path.eql? root_path
  .welcome-text
    %p Добро пожаловать
    %p в психоаналитический кабинет
    %p Русланы Тимчук

=image_tag border_img, class: 'img-responsive header-solid-line'