:scss
  header {
  .header-image {
    width: 100%;
  }
    .welcome-text {
      position: absolute;
      margin-top: -20%;
      margin-left: 30%;
      font-size: 3rem;
      p {
        margin: 0;
      }
    }
    .main-button-container {
      text-align: center;
      .main-button-text {
        position: absolute;
        margin-top: -1.7%;
        margin-left: 47.3%;
        color: white;
        font-size: 20px;
      }
    }
    .header-solid-line {
      margin-top: -4%;
      width: 100%;
    }
    .red-link-button {
      position: absolute;
      width: 20%;
      margin-left: -10%;
      margin-top: -1.7%;
    }
  }
  @media (min-width: 1920px) {
    header {
      .main-button-container {
        .main-button-text {
          font-size: 25px;
        }
      }
      .welcome-text {
        font-size: 3rem;
      }
    }
  }
  @media (min-width: 1440px) and (max-width: 1919px) {
    header {
      .welcome-text {
        font-size: 2rem;
      }
    }
  }
  @media (min-width: 1024px) and (max-width: 1439px) {
    header {
      .main-button-container {
        .main-button-text {
          font-size: 15px;
        }
      }
      .welcome-text {
        font-size: 1.5rem;
      }
    }
  }
  @media (max-width: 1023px) {
    header {
      .main-button-container {
        .main-button-text {
          font-size: 13px;
        }
      }
      .welcome-text {
        font-size: 1rem;
      }
    }
  }
  @media (max-width: 768px) {
    header {
      .main-button-container {
        .main-button-text {
          font-size: 10px;
        }
      }
      .welcome-text {
        font-size: 0.5rem;
      }
    }
  }

%header
  =image_tag "header_main_image.png", class: 'img-responsive header-image'
  .welcome-text
    %p Добро пожаловать
    %p в психоаналитический кабинет
    %p Русланы Тимчук
  =image_tag "header_solid_line.png", class: 'img-responsive header-solid-line'
  .main-button-container
    -if params[:controller].eql? 'home'
      =link_to '#' do
        =image_tag "red_link_button.png", class: 'red-link-button'
        .main-button-text Главная
    -else
      =link_to '#' do
        =image_tag "red_link_button.png", class: 'red-link-button'
        .main-button-text Основная